@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@700&family=Roboto:wght@500&display=swap');

main {
    background-image: url(./img/20220209202335_02living_20190617_141317_20211116_125906.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.logo {
    width: 100vw;
    height: 100px;
    justify-content: center;
    background-color: #fff;
    font-family: "hanken grotesk";
    display: flex;
    font-size: 8px;
    align-items: center;
}

.logo h1 {
    font-size: 25px;
}

.logo img {
    width: 90px;
    height: 90px;
}

.header {
    display: flex;
    justify-content: center;
    height: 100%;
}

.header .form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header h1 {
    font-size: 90px;
    color:#fff;
    width: 700px;
    margin-right: 100px;
    margin-bottom:40px;
}

.header .dados {
    width: 500px;
    height: 180px;
    background-color:darkgrey;
    border-radius: 10px;
    color: #fff;
    align-items: center;
    padding: 20px;
}

.header .dados  h2{
    padding: 10px;
}

.header .dados input{
    margin: 10px;
    padding: 7px;
}

.redes{
    position: absolute;
    bottom: 50px;
    color: #fff;
    font-size: 30px;
    margin-left: 300px;
    padding: 20px;
}

.redes a{
    margin: 10px;
}